.buttons {
  display: inline-block;
  padding: 0.576923em 1.576923em 0.653846em;
  background-color: #3ca7af;
  -webkit-box-shadow: 0px 4px 15px rgba(9, 81, 99, 0.35);
          box-shadow: 0px 4px 15px rgba(9, 81, 99, 0.35);
  border-radius: 10px;
  font-size: 22px;
  text-align: center;
}

.prod {
  margin-top: 15px;
  margin-left: 45%;
}

.formOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.formOrder__nameproduct {
  font-size: 25px;
  margin-bottom: 10px;
}

.formOrder__timer {
  font-size: 25px;
}

.formOrder__anketa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formOrder__anketa-photoproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  max-width: 200px;
}

.formOrder__anketa-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
.formOrder__anketa-price > * + * {
  margin-left: 10px;
}

.formOrder__anketa-priceold {
  font-size: 14px;
  color: #4e4e4e;
  text-decoration: line-through;
}

.formOrder__anketa-pricenew {
  font-size: 18px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.formOrder__anketa-pricenew:hover {
  color: #4fe74f;
}

.formOrder__anketa-personinf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.formOrder__anketa-personinf-user {
  font-size: 14px;
  padding: 20px 0 20px 20px;
  margin-bottom: 15px;
}

.formOrder__anketa-personinf-envelope {
  font-size: 14px;
  padding: 20px 0 20px 20px;
  margin-bottom: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header__title {
  margin-bottom: 35px;
  font-size: 44px;
  text-align: center;
}

.header__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__product > * + * {
  margin-left: 20px;
}
.header__product-img {
  max-width: 200px;
}

.header__specific {
  font-size: 26px;
  max-width: 300px;
  text-align: center;
}
.header__specific li {
  margin-bottom: 15px;
}
.header__specific li:last-child {
  margin-bottom: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: rgba(23, 136, 170, 0.507);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.position {
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}

.digit {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #444;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
}

.colon {
  display: inline-block;
  width: 16px;
  height: 1.6em;
  position: relative;
}
.colon::before, .colon::after {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #444;
  border-radius: 50%;
  left: 50%;
  margin-left: -3px;
  top: 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
          box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: '';
}
.colon::after {
  top: 20px;
}

.productComposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productComposition__ingredient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
}
.productComposition__ingredient img {
  margin-bottom: 10px;
}
.productComposition__ingredient p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.productComposition__ingredient p:last-child {
  margin-bottom: 0;
}

.productComposition__prod {
  max-width: 200px;
  margin: 0 10%;
}

.productComposition__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.promo__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.promo__subscribe {
  text-align: justify;
  font-size: 18px;
  margin-left: 10px;
}

.promo__specific ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__specific ul > * + * {
  margin-left: 50px;
}

.reviews-wrap {
  position: relative;
  max-width: 768px;
  background-color: rgba(57, 57, 60, 0.795);
  padding: 20px 40px 70px;
  margin: 0 auto;
  margin-top: 150px;
}

.reviews {
  text-align: center;
}
.reviews p {
  font-style: italic;
  line-height: 1.4;
  padding: 20px 20px 0;
}

.reviews__author img, .reviews__author .reviews__info {
  display: inline-block;
  vertical-align: middle;
}
.reviews__author img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.reviews__author .reviews__info {
  text-align: left;
}
.reviews__author .reviews__info:first-child {
  font-size: 14px;
}
.reviews__author .reviews__info:last-child {
  font-size: 12px;
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: white;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
          transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
          transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
          transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
          transform: translateY(-27px) rotate(45deg);
}

/*# sourceMappingURL=main.css.map */