$textcolor: #ffffff;

*,*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $textcolor;
    background-color: rgba(23, 136, 170, 0.507);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $textcolor;
}

img {
    display: block;
    width: 100%;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: $textcolor;
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

.position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
}

.digit{
    position:absolute;
    display:block;
    width:100%;
    background-color:#444;
    border-radius:4px;
    text-align:center;
    color:#fff;
    letter-spacing:-1px;
}

.colon {
    display:inline-block;
    width:16px;
    height:1.6em;
    position:relative;

    &::before, &::after {
        position:absolute;
        width:5px;
        height:5px;
        background-color:#444;
        border-radius:50%;
        left:50%;
        margin-left:-3px;
        top:10px;
        box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
        content:'';
    }

    &::after {
        top:20px;
    }
}