.buttons {
    display: inline-block;
    padding: 0.576923em 1.576923em 0.653846em;
    background-color: #3ca7af;
    box-shadow: 0px 4px 15px rgba(9, 81, 99, 0.35);
    border-radius: 10px;

    font-size: 22px;
    text-align: center;
}

.prod {
    margin-top: 15px;
    margin-left: 45%;
}